/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

/* List Style */
li {
    list-style: none;
}

/* Header */
header {
    text-align: center;
}

/* Outer Container - Set Background to Peach Nougat */
.outer-container {
    background: rgb(230,175,145);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin: 10% auto;
    padding: 40px 0 0;
}

/* Board Container */
.board-container {
    background: black;
    width: 350px;
    height: 350px;
    background-size:cover;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

/* Game Board */
.game-board {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

/* Boxes */
.boxes {
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    left: 12px;
    top: 0;
}

.boxes li {
    width: 30%;
    height: 30%;
    display: inline-block;
    position: relative;
    z-index: 1000;
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
}

li i {
    font-size: 6.5rem;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-style: normal;
    color: rgb(180,183,186);
    z-index: 500;
}

li span {
    position: relative;
    bottom: 15px;
}