/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background: black;
    margin: auto;
}


/* Container */
.container {
    position: relative;
    top: 150px;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}


/* Board */
.board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Box */
.box {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 520%;
    color: white;
}


